@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	background-position: top center;
	background-repeat: repeat-y;
	background-color: #f8f8f4;
	font: 10pt arial, helvetica, sans-serif;
	color: black;
}

div.header {
	background-color:	#555;
	padding-top:		45px;
	background-image:	url("images/LPC_top_bg.jpg");
	margin-bottom:		5px;
}

.login_form {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

a {
	color: black;
}

div.content {
	width: 833px;
	margin-left: auto;
	margin-right: auto;
}

div.footer, div.footer a {
	color: #9b8b5e;
}

a img {
	border:0px;
}

h1, h2, h3 {
	font-family: georgia, times new roman, serif;
	color: #9e9d95;
	border-bottom: 1px dotted #e0e0b0;
	margin-bottom: 15px;
}

h1 {
	padding-bottom: 3px;
	font-size: 14pt;
	font-weight: bold;
}

h2 {
	padding-bottom: 1px;
	font-size: 12pt;
	font-weight: normal;
}

h3 {
	padding-bottom: 1px;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
}

div.copyright {
	text-align: center;
	border-top: 1px dotted #e0e0d0;
	font-size: 80%;
	margin-top: 20px;
	color: #9e9d95;
	clear: both;
}

div.copyright a {
	text-decoration: none;
}

