@charset "UTF-8";

div.error, div.confirm {
	font-weight:bold;
	border: 1px solid black;
	padding:10px;
	margin: 10px 0px;
}

div.error {
	color:#500;
	background-color: #fdd;
	border-color: #faa;
}

div.confirm {
	color: #050;
	background-color: #dfd;
	border-color: #9e9;
}

table.vertical th {
	text-align: right;
}

table.default {
	width:100%;
	border-collapse: collapse;
}

table.default, table.default td, table.default th {
	border: 1px solid #e0e0d8;
}

table.default td, table.default th {
	padding:5px;
}

table.default th {
	font-weight: bold;
	background-color: #eaeae8;
}

table.spaced {
	margin-bottom:10px;
}

th div.explain {
	font-weight: normal;
	font-size: 80%;
}

table.default th.simple {
	font-weight: normal;
}

table.two-column td {
	width: 50%;
}

table.numeric td, td.numeric, th.numeric {
	text-align: right;
}

div.list_paginator {
	font-size: 80%;
	margin: 5px 0px;
}

div.scaffold-type {
	float:right;
	width:60px;
	color:black;
	background-color:#e8e8e8;
	text-align:center;
	padding:2px;
	font-size: 80%;
}

div.error_message, div.confirmation_message {
	border: 1px solid red;
	color: red;
	font-weight: bold;
	background-color: #fff0f0;
	padding: 5px;
	margin: 10px 0px;
}

div.confirmation_message {
	border-color: #050;
	background-color: #f0fff0;
	color: #050;
}

div.LPC_translated_message_list {
	clear: both;
}

/* Busy */
#busyLayer
{
	background-color: white;
	z-index: 20;
	height: 100%;
	width: 100%;
	background-image: url(images/rotatingclock-fast2.gif);
	background-repeat:no-repeat;
	background-position:center;
	position:fixed;
	top: 30px;
	left: 0px;

	filter:alpha(opacity=50); /* IE */
	opacity: 0.5; /* Safari, Opera */
	-moz-opacity:0.50; /* FireFox */

	display:none;
}
/* /Busy */
